.list-category-widget{
	ul{
		li{
			margin-bottom: 5px;
		    padding-bottom: 5px;
		    border-bottom: 1px solid #f9f9f9;
		    img{
		    	width: 30px;
		    	float: left;
		    	margin-right: 10px;
		    }
		    h4{
		    	a{
		    		font-size: 14px;
		    		color: #333;
		    	}
		    }
		}
	}
}