.list-category-widget{
	ul{
		li{
			margin-bottom: 5px;
		    padding-bottom: 5px;
		    border-bottom: 1px solid #f9f9f9;
		    position: relative;
		    img{
		    	width: 30px;
		    	float: left;
		    	margin-right: 10px;
		    }
		    h4{
		    	a{
		    		font-size: 14px;
		    		color: #333;
		    	}
		    }
		    .icon-show{
		    	position: absolute;
			    width: 16px;
			    height: 16px;
			    background: url(../images/plus.svg) no-repeat;
			    background-size: 100% 100%;
			    top: 9px;
			    right: 0;
			    cursor: pointer;
			    &.active{
			    	background: url(../images/minus.svg) no-repeat;
			    }
		    }
		    ul{
			    padding-left: 25px;
    			margin-top: 12px;
    			display: none;
			    li{
			    	border-bottom: 0;
			    	a{
			    		color: #333;
			    		&:before{
			    			width: 6px;
						    height: 6px;
						    background: #333;
						    display: inline-block;
						    border-radius: 50%;
						    content: '';
						    margin-right: 8px;
						    position: relative;
						    top: -2px;
			    		}
			    	}
			    }
			}
		}
	}
}